body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    overflow-x: hidden;
}
  
ol, ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1rem;
}

body {
    background-image:url(/nav2/bg.jpg);
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    height: 200px;
}

li {
    display: inline-block;
    margin-right: 2rem;
}

.dropdown {
    /* display: inline-block; */
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: max-content;
}

.dropdown:hover .dropdown-content {
    display: block;
}